@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App {
  text-align: center;
}

.App-header {
  background-color: #D47AE8;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #fff;
}

.title {
  color: #333;
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.category-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
  padding: 10px;
}

.category-item {
  background-color: #F4BEEE;
  color: #333;
  border-radius: 8px;
  padding: 14px 0px;
}

.category-img {
  width: 120px;
  height: 100px;
}
